body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Arial Black", Arial, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px;
}

h1 {
  font-size: 2rem;
}

button,
input {
  font: inherit;
}

p {
  margin: 0px
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: solid 5px #526CFF;
  background-color: rgb(196, 235, 255);
  border-radius: 10px;
  text-align: center;
  padding: 20px 100px;
}

.tasks-title {
  font-size: 30px;
  margin-bottom: 0px;
}

.edit-container {
  margin: 5px 0px 0px 0px;
  display: flex;
  flex-direction: column;

  button {
    background-color: unset;
    border: #697ef4 3px solid;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    padding: none;
    width: 15%;
    height: 40px;
    font-size: 1em;
    transition: height 0.2s ease;

    &:hover {
      height: 45px;
    }
  }
}

.button-manager {
  display: flex;
  gap: 10px;
  height: 45px;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

#blue {
  border: #697ef4 3px solid;
}

#red {
  border: #fa3838 3px solid;
}

#green {
  border: #90f469 3px solid;
}

#orange {
  border: #f7964d 3px solid;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}